{% extends "base.html" %}
{% block content %}
  <div class="card">
    <h2>Create Post</h2>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div style="margin-bottom:8px;">
        {{ form.title.label_tag }}<br>
        {{ form.title }}
        {{ form.title.errors }}
      </div>

      <div style="margin-bottom:8px;">
        {{ form.content.label_tag }}<br>
        {{ form.content }}
        {{ form.content.errors }}
      </div>

      <div style="margin-bottom:8px;">
        {{ form.image.label_tag }}<br>
        {{ form.image }}
        {{ form.image.errors }}
      </div>

      <div style="margin-bottom:8px;">
        {{ form.is_emergency }} {{ form.is_emergency.label_tag }}
      </div>

      <button class="btn" type="submit">Publish</button>
      <a class="btn-ghost" href="{% url 'posts:feed' %}">Cancel</a>
    </form>
  </div>
{% endblock %}
